{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        <link href="{% static 'site/css/bootstrap.min.css' %}" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "home" %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Lista de Tarefas</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                </li>

                <form class="d-flex align-items-center" role="search" aria>
                <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>

            <form class="d-flex" method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                {% get_available_languages as LANGUAGES %}
                {% get_current_language as LANGUAGE_CODE %}
                <div class="dropdown">
                    
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {% translate 'Select Language' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for lang in languages %}
                            <li>
                                <a class="dropdown-item" href="#" onclick="document.getElementById('language-input').value='{{ lang.code }}'; this.closest('form').submit();">
                                    {{ lang.name_local }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="language" id="language-input" value="{{LANGUAGE_CODE}}">
                </div>
            </form>
            
            
            {% if user.is_authenticated %}
                <li class="btn btn-outline-primary m-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.username}}
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <a class="btn btn-outline-success m-1" href="{% url 'profile' %}" >{% translate "Profile" %}</a>
                        <li>
                        </li> 
                        <a class="btn btn-outline-primary m-1" href="{% url 'dashboard' %}" >{% translate "Dashboard" %}</a>
                        <li>
                        </li> 
                        <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger m-1" type="submit">{% translate "Logout" %}</button>
                        </form>
                        <li>
                        </li> 
                    </li> 
                </ul>
                </li>

            {% else %}
                <a class="btn btn-outline-primary m-1" href="{% url 'account_signup' %}" >{% trans "Sign Up" %}</a>
                
                <a a class="btn btn-outline-success m-1" href="{% url 'account_login' %}" >{% trans "Sign In" %}</a>
            {% endif %}
                
            </div>
        </div>
        </nav>        
        </html>

        {% block body %}
            {% if messages %}
                <div>
                    <strong>{% trans "Messages:" %}</strong>
                    <ul>
                        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}

    
        <main class="container"> 

            <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            </footer>
            </div>
        </main>


    <script src="{% static 'site/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
