{% extends "allauth/layouts/manage.html" %}
{% load allauth %}
{% load i18n %}

{% block content %}
    {% element h1 %}
        {% translate "Profile" %}
    {% endelement %}
    
    
        
    
        
    <p>Nome</p>
    <p>Sobrenome</p>
    <p>Foto</p>
    <p>Data de Nascimento</p>
    <p>Your profile</p>

    <p>Your profile</p>
    <p>Your profile</p>
    <p>Your profile</p>
    <p>Your profile</p>
    <p>Your profile</p>


    <button class="btn btn-primary">Salvar</button>
{% endblock content %}
